<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="daoSpring" class="Exercice1.dao.DaoImplSpring"></bean>
    <bean id="metier" class="Exercice1.metier.MetierImplSpring">
        <property name="dao" ref="daoSpring"></property>
    </bean>
</beans>